/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #e0f7fa; /* Fondo relajante */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
    text-align: center;
}
.formulario{
    height: auto;
    max-height: 500px;
}

h2 {
    color: #00796b; /* Cyan oscuro */
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
    color: #004d40; /* Verde oscuro relajante */
}

input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #b2dfdb; /* Borde en cyan suave */
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #00796b; /* Botón en cyan oscuro */
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #004d40; /* Cambio de color al pasar el mouse */
}

.dropdown {
    margin-bottom: 20px;
}


.header {
    background-color: #00796b; /* Cyan oscuro */
    padding: 20px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
